<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header-box">
        <img class="weather-img" src="/images/weather_icon.png" alt="an icon of the weather">
        <h1 class="underlining">Weather Wizard</h1>
    </header>
    <select name="dropdown" id="" required >
        <option value="" disabled selected>Please select a location</option>
        <option value="London">London</option>
        <option value="Manchester">Manchester</option>
        <option value="Essex">Essex</option>
        <option value="Edinburgh">Edinburgh</option>
    </select>
    <div class="homepage-box">
        <h1>Today's weather is <span id="temperature"></span></h1>
        <h3>
            Highest temp today: <span id="high"></span>
        </h3>
        <h3>
            Lowest temp today: <span id="low"></span>
        </h3>
        <a href="signup.html">sign up</a>
        <br>
        <a href="login.html">log in</a>
    </div>
    <br>
    <div class="weekly-box">
        <h1>Weekly Forecast:</h1>
        <div class="general-container">
            <div class="day-box">
                <h2>
                    <span id="tomorrow"></span>
                </h2>
                <p>High: 
                    <span id="tomorrow-high"></span>
                </p>
                <p>Low: 
                    <span id="tomorrow-low"></span>
                </p>
            </div>
            
            <div class="day-box">
                <h2>
                    <span id="second-day"></span>
                </h2>
                <p>High: 
                    <span id="second-high"></span>
                </p>
                <p>Low: 
                    <span id="second-low"></span>
                </p>
            </div>

            <div class="day-box">
                <h2>
                    <span id="third-day"></span>
                </h2>
                <p>High: 
                    <span id="third-high"></span>
                </p>
                <p>Low: 
                    <span id="third-low"></span>
                </p>
            </div>
        </div>
        <br>
        <div class="general-container">
                <div class="day-box">
                    <h2>
                        <span id="fourth-day"></span>
                    </h2>
                    <p>High: 
                        <span id="fourth-high"></span>
                    </p>
                    <p>Low: 
                        <span id="fourth-low"></span>
                    </p>
                </div>
                
                <div class="day-box">
                    <h2>
                        <span id="fifth-day"></span>
                    </h2>
                    <p>High: 
                        <span id="fifth-high"></span>
                    </p>
                    <p>Low: 
                        <span id="fifth-low"></span>
                    </p>
                </div>

                <div class="day-box">
                    <h2>
                        <span id="sixth-day"></span>
                    </h2>
                    <p>High: 
                        <span id="sixth-high"></span>
                    </p>
                    <p>Low: 
                        <span id="sixth-low"></span>
                    </p>
                </div>
        </div>
    </div>
    <script src="../app.js"></script>
</body>
</html>