<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body> 
    <header class="header-box">
        <img class="weather-img" src="/images/weather_icon.png" alt="an icon of the weather">
        <h1 class="underlining">Weather Wizard</h1>
    </header>

    <main>
        <div class="info-box">
            <h1>Login</h1>
            <input class="form-input" type="text" placeholder="Please enter username">
            <input class="form-input" type="password" placeholder="Enter password">
            <button type="submit">Login</button>
        </div>

        <div class="create-account">
            <p>
                Don't have an account? 
                <a href="signup.html">Sign Up</a>
                here!
            </p>
        
        </div>

        <a href="homepage.html">home</a>
    </main>
    
    <footer>
        <p>
            Need help? contact our support page at: <a href="test@icloud.com">HelpLine@test.com</a>
        </p>
    </footer>

</body>
</html>